[submodule "vendor/Physiks"]
	path = vendor/Physiks
	url = https://github.com/devVux/Physiks.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/imguiFileDialog"]
	path = vendor/imguiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "vendor/ImGuiIcons"]
	path = vendor/ImGuiIcons
	url = https://github.com/juliettef/IconFontCppHeaders
