CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


.vs/
out/
vcpkg/
/ClosedGL/include/ClosedGL/Renderer/Batch.cpp
/ClosedGL/include/ClosedGL/Renderer/Batch.h
/ClosedGL/include/ClosedGL/Renderer/Renderer.cpp
/ClosedGL/include/ClosedGL/Renderer/Renderer.h
